@font-face {
  font-family: "Sketch";
  src: url("/fonts/SketchRockwell-Bold.ttf");
}

h1 {
	margin: 0;
}

body { 
	font-family: "Sketch", serif;
	background-color: #3f96d2;
	margin: 0;
	color: #004382;
}

div#header {
	margin: 0 auto;
	width: 960px;
	height: 270px;
	padding-left: 40px;
	padding-right: 40px;
	background: url("/images/sideshadow.png") repeat-y scroll left center transparent;	
}

div#header div#user_email {
	float: left;
	position: relative;
	top: 120px;
	left: 340px;
	font-size: 1.3em;
	line-height: 135%;
}

div#header div#lunchcash_count {
	float: right;
	position: relative;
	top: 120px;
	right: 140px;

	font-size: 5em;
}


div#content {
	margin: 0 auto;
	padding-top: 40px;
	padding-left: 40px;
	padding-right: 40px;
	width: 960px;
	background: url("/images/sideshadow.png") repeat-y scroll left center transparent;
}

div#content img#splash_image {
	margin: 0 auto;
	padding-top: 50px;
}

div#content div#gallery_dialog {
	background-image: url('/images/gallery-dialog-background.png');
	
	width: 700px;
	height: 420px;
	margin: 0 auto;	
}

div#content div#gallery_dialog div#gallery {
	position: relative;
	top: 39px;
	left: 37px;
		
	width: 627px;
	height: 274px;
}

div#content div#gallery_dialog div#gallery div.gallery_item {
	position: absolute;
	top: 25px;
	
	width: 150px;
	height: 225px;
	
	background: #cccccc;
}

div#content div#gallery_dialog div#gallery div.active {
	background: #ffffff;
}

div#content div#gallery_dialog div#gallery div.inactive {
	background: #cccccc;
}

div#content div#gallery_dialog div#gallery div#prev_item {
	left: 74px;
}

div#content div#gallery_dialog div#gallery div#selected_item {
	left: 239px;
}

div#content div#gallery_dialog div#gallery div#next_item {
	left: 404px;
}

div#content div#gallery_dialog div#gallery p.name {
	text-align: center;
	margin: 10px 0px 0px 0px;
	padding: 0;
	
	font-size: 1em;
}

div#content div#gallery_dialog div#gallery p.subtext {
	text-align: center;	
	margin: 0;
	padding: 0;
	
	font-size: 0.75em;
	
}

div#content div#gallery_dialog div#gallery img.item_image {
	width: 100px;
	height: 100px;
	
	position: relative;
	left: 25px;
	top: 40px;
	
}

td.user-email, tr.user-email {
	width: 400px;
	text-align: left;
}