@font-face {
  font-family: "Sketch";
  src: url("/fonts/SketchRockwell-Bold.ttf");
}

h1 {
	margin: 0;
}
html {
	height: 100%;
}

body { 
	font-family: "Sketch", serif;
	background-color: #3f96d2;
	margin: 0;
	color: #004382;
	
	height: 100%;
}

div#container {
	width: 960px;
	height: 100%;
	padding: 0px 10px;
	
	margin: 0 auto;
	background: url("/images/sideshadow.png") repeat-y scroll left center transparent;	
	
}

div#header {
	margin: 0 auto;
	width: 960px;
	height: 270px;	
}

div#header div#user_email {
	float: left;
	position: relative;
	top: 120px;
	left: 340px;
	font-size: 1.3em;
	line-height: 135%;
}

div#header div#lunchcash_count {
	float: right;
	position: relative;
	top: 120px;
	right: 140px;	

	font-size: 5em;
}


div#content {
	padding-top: 40px;
	width: 960px;
}

div#content img#splash_image {
	margin: 0 auto;
	padding-top: 50px;
}

div#content div#gallery_dialog {
	background-image: url('/images/gallery-dialog-background.png');
	
	width: 700px;
	height: 420px;
	margin: 0 auto;	
}

div#content div#gallery_dialog div.button{
	width: 230px;
	height: 52px;
	
	margin: 0 auto;	
	
	cursor: hand;
	cursor: pointer;
}


div#content div#gallery_dialog div#gallery {
	position: relative;
	top: 39px;
	left: 37px;
		
	width: 627px;
	height: 274px;
	
	margin-bottom: 50px;
}

div#content div#gallery_dialog div#gallery div#prev_arrow {	
	background-image: url('/images/left_arrow.png');
	width: 41px;
	height: 54px;
	
	cursor: hand;
	cursor: pointer;
	
	position: absolute;
	top: 104px;
	left: 10px;
}

div#content div#gallery_dialog div#gallery div#next_arrow {	
	background-image: url('/images/right_arrow.png');
	width: 41px;
	height: 54px;
	
	cursor: hand;
	cursor: pointer;
	
	position: absolute;
	top: 104px;
	right: 10px;
}


div#content div#gallery_dialog div#gallery ul {	
	list-style: none;
}

div#content div#gallery_dialog div#gallery li.gallery_item {	
	position: absolute;
	top: 25px;
	
	width: 150px;
	height: 225px;
	
	background: #cccccc;
}

div#content div#gallery_dialog div#gallery li {
	display:none;
}

div#content div#gallery_dialog div#gallery li.prev {
	display:inline;
	left: 74px;
}

div#content div#gallery_dialog div#gallery li.curr {
	display:inline;
	left: 239px;
	
	background: #eeeeee;
	border: 2px yellow solid;
}

div#content div#gallery_dialog div#gallery li.next {
	display:inline;
	left: 404px;
}

div#content div#gallery_dialog div#gallery p.name {
	text-align: center;
	margin: 10px 0px 0px 0px;
	padding: 0px;
	
	font-size: 0.9em;
	height: 40px;
}

div#content div#gallery_dialog div#gallery p.subtext {
	text-align: center;	
	margin: 0;
	padding: 0;
	
	font-size: 0.75em;
	
}

div#content div#gallery_dialog div#gallery img.item_image {
	width: 100px;
	height: 100px;
		
	left: 25px;
	position: relative;
	
}

td.user-email, tr.user-email {
	width: 400px;
	text-align: left;
}