<div id="gallery">
  <div id="prev_arrow" onClick='onClickPrevArrow'>    
  </div>

  <div id="next_arrow" onClick='onClickNextArrow'>
  </div>
  
  <div class='gallery_item' id="prev_item">
    <p class='name'></span>
    <p class='subtext'></span>
  </div>

  <div class='gallery_item' id="selected_item">
    <p class='name'></span>
    <p class='subtext'></span>
  </div>

  <div class='gallery_item' id="next_item">
    <p class='name'></span>
    <p class='subtext'></span>
  </div>
</div>