<div id="gallery">
  <div id="prev_arrow" onClick='onClickPrevArrow'>    
  </div>

  <div id="next_arrow" onClick='onClickNextArrow'>
  </div>
  
  <div id="prev_item">
  </div>

  <div id="selected_item">
  </div>

  <div id="next_item">
  </div>
</div>