<div id="header">
  <%= image_tag "header-background.jpg", :title => "LunchVille", :class => "header_background" %>
  <div id="user_email">
    testuser@svnetwork.com
  </div>
  
  <div id="lunchcash_count">
    10
  </div>
  
</div>