<div id="header">
<img src='/images/header-background.jpg'/>

<% if current_user %>
  <div id="user_email">
    Welcome,<br>
    <%= current_user.name -%>
  </div>
  
  <div id="lunchcash_count">
    <%= current_user.lunch_bucks -%>
  </div>
<% end %>
</div>