alert( "<%= flash[:notice] -%>" );

// $('div#content').append("<div id='sadtrombone'></div>");
// 
// $("#sadtrombone").jPlayer({
// 	ready: function () {
// 		$(this).jPlayer("setMedia", {
// 			mp3: "/sadtrombone.mp3"
// 		}).jPlayer("play");
// 	},
// 	swfPath: ".",
// 	supplied: "mp3"
// });
