<h1>Lunch Order Summary</h1>

<p>
	<strong>Note that the following users have not placed their lunch orders:</strong><br/>
	<ul>
		<% @users_missing_orders.each do |user| -%>
			<li><%= user.name %></li>
		<% end -%>
	</ul>
</p>

<table>
  <tr>
    <th>User</th>
    <th>Order</th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%=h order.user.name %></td>
    <td><%=h order.description %></td>
  </tr>
<% end %>
</table>
