<p>
  <b>Name:</b>
  <%=h @restaurant.name %>
</p>

<p>
  <b>Url:</b>
  <%=h @restaurant.url %>
</p>


<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>