<div id="gallery_dialog">
  <%= render :partial => "shared/gallery" %>
</div>



<script type="text/javascript" charset="utf-8">
  Gallery.gallery_items = [];
  
  <% @proposals.each do |proposal| -%>
    Gallery.gallery_items.push* 
  <% end -%>
  
</script>
