<% if Date::DAYNAMES[Time.now.wday] == 'Tuesday' -%>

	<div id="gallery_dialog">
	  <%= render :partial => "shared/gallery" %>
	</div>

	<script type="text/javascript" charset="utf-8">
	  Gallery.gallery_items = [];
  
	  <% @proposals.each do |proposal| -%>
	    Gallery.gallery_items.push( <%= proposal.to_gallery_json -%> );
	  <% end -%>
  
	  Gallery.init();
	</script>

<% else -%>
	<h2>Yo buddy, voting is only allowed on Tuesdays.</h2>
<% end -%>