<% if Date::DAYNAMES[Time.now.wday] == 'Monday' || true -%>

<div id="gallery_dialog">  
  <%= render :partial => "shared/gallery" , :locals => {:gallery_items => @restaurants.map { |r| r.to_gallery_object } } %>
  	  
  <div class='button'>
    <img src='/images/vote_btn.png'/>
  </div>
  
</div>


<script type="text/javascript" charset="utf-8">
 function voteOnProposal() {
   var postData = {};
   postData.userHash = "<%= params[:user_hash] -%>";
   postData.proposal = { 'restaurant_id': Gallery.current_id};
   
   $.post('/proposals', postData );
 }
 
 $('div#gallery_dialog div.button').click(voteOnProposal);
</script>


<% else -%>
	<h2>Yo buddy, proposals are only allowed on Mondays.</h2>
	<div id="sadtrombone"></div>
<% end -%>